
@import url('https://fonts.googleapis.com/css?family=Oswald');

*
{
	padding:0;
	margin:0;
	outline:0;
}

body
{

	background-color:black;
	background: linear-gradient(180deg, #000000 13.23%, rgba(87, 3, 84, 0.81) 35.28%, rgba(135, 4, 130, 0.62) 65%, rgba(187, 6, 180, 0.43) 84.18%, rgba(248, 2, 239, 0) 99.98%, rgba(245, 10, 236, 0.43) 99.99%);
	height: 1400px;
}

img 
{
    display: block;
}

a
{
	text-decoration:none;
	color: #8A488A;
}

.black
{
	color:black;
}

.black:hover
{
	color:#8A488A;
}

.wrapper
{
	min-width:1200px;
	margin:0 auto;
	height:1400px;
}

.logo
{
	padding-top:20px;
}

.logo_link
{
	width:441px;
    height:79px;
	display: block;
    margin: 0 auto;
}

.line
{
    width: 1200px;
    height: 5px;
    margin:0 auto;
    background: rgba(192, 100, 192, 0.72);
}

.panel_full
{
	width: 1170px;
    margin: 0 auto;
    position: relative;
	text-align:center;
	padding-bottom:20px;
}

.panel_full_menu
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	list-style:none;
}

.panel_full_menu_list
{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
	padding-top:5px;
}

.panel_full_menu_link:hover
{
	border-bottom:2px solid #8A488A;
}

.select
{
	color:gray;
	cursor:default;
}

.select:hover
{
	border-bottom:none;
}



.block
{
	margin-top:50px;
	display:flex;
	justify-content:center;
}

.img
{
   width:350px;
   height:250px;	
}

.block_logo_text
{
	text-align:center;
	align-items:center;
	padding:15px;
	font-size: 26px;
    font-family: 'Oswald', sans-serif;
	
	background-color:#fff;
}

.block_content
{
	height:319px;
	width:858px;
	background-color:rgba(0,0,0, 0.05);
	display:flex;
	align-items:center;
}

p
{
  text-align:justify;
  padding-top:20px;
  padding-bottom:20px;
}

p a
{
	color:#fff;
}

p a:hover
{
	border-bottom:2px solid #fff;
}

.block_text
{
	font-size: 32px;
    font-family: 'Oswald', sans-serif;
	width:80%;
	display:flex;
	flex-direction:column;
	justify-content:justify;
	align-items:center;
	
}

.practice
{
	font-size: 36px;
	 font-family: 'Oswald', sans-serif;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
}



.button_img
{
	width:85px;
	height:85px;
}

.link_article
{
	color:#000;
}

.block_texts
{
	margin:auto;
	padding-top:50px;
}

.text
{
	color:#fff;
	padding:15px;
}
.content
{
	width:1200px;
	margin:auto;
}

.width{display:block;width:500px}

.book
{
	margin-top:50px;
	width:500px;
	padding:10px;
	font-family: 'Oswald', sans-serif;
	font-size:48px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	background: rgba(185, 94, 185, 0.23);
    border-radius: 20px;
}

.blocks_unit
{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
}

.block_unit
{
	margin-top:50px;
	background: rgba(185, 94, 185, 0.33);
	width:300px;
	height:300px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:'Oswald', sans-serif;
	font-size:36px;
	color:white;
}

.block_unit:hover
{
	background: rgba(185, 94, 185, 0.63);
}

.book:hover
{
	background: rgba(185, 94, 185, 0.63);
}

.text_unit
{
	color:white;
	padding:5px;
	font-size:36px;
	font-family: 'Oswald', sans-serif;	
	text-align:center;
}

.title_unit
{
	margin-top:50px;
	background: rgba(185, 94, 185, 0.33);
	
}