
@import url('https://fonts.googleapis.com/css?family=Oswald');

*
{
	padding:0;
	margin:0;
	outline:0;
}

.background
{
	background:url(../img/kek.png);
	position:fixed;
	z-index:-30;
	width:100%;
	height:100vh;
}


label {
	display: inline-block;
	cursor: pointer;
	position: relative;
   
	font-size: 13px;
}

input[type=radio] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;

	width: 20px;
	height: 20px;
    border-radius:50px;
	background: #BA93BA;
border: 3px solid #FFFFFF;
box-sizing: border-box;
}

input[type=radio]:checked + label:before {
	content: "";
	display: inline-block;

	width: 20px;
	height: 20px;
    border-radius:50px;
    background: rgba(216, 173, 216, 0.09);
border: 3px solid #FFFFFF;
box-sizing: border-box;
}

label
{
	color:white;
	font-size:24px;
	font-family:'Oswald', sans-serif;
}

p
{
    color:white;
	font-size:24px;
	font-family:'Oswald', sans-serif;
}


a
{
	text-decoration:none;
	color: #8A488A;
}

.test
{
    width:1200px;
    margin:auto;
}

.btn
{
    margin-top:50px;
    padding:5px 10px;
	border: 4px solid #BA93BA;
	border-radius:50px;
	font-family:'Oswald', sans-serif;
	width:150px;
}



.protect
{
    padding-bottom:25px;
    padding:5px 10px;
	border: 5px solid #A937A5;
	border-radius:20px;
	font-family:'Oswald', sans-serif;
	font-size:15px;
	width:100px;
}

.choice
{
   margin-top:50px;
}

#toTop {
width:100px;
border:1px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:10px; 
right:10px;
cursor:pointer;
display:none;
color:#333;
font-family:verdana;
font-size:11px;
}

.menu_select
{
	margin-top:20px;
	text-align:center;
}

.link
{
	
	margin:50px;
}

.link:hover
{
	border-bottom:2px solid #8A488A;
}

.wrapper
{
	min-width:1200px;
	margin:0 auto;
}

.logo
{
	padding-top:20px;
}

.logo_link
{
	width:441px;
    height:79px;
	display: block;
    margin: 0 auto;
}

.line
{
    width: 1200px;
    height: 5px;
    margin:0 auto;
    background: rgba(192, 100, 192, 0.72);
}

.panel_full
{
	width: 1170px;
    margin: 0 auto;
    position: relative;
	text-align:center;
	padding-bottom:20px;
}

.panel_full_menu
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	list-style:none;
}

.panel_full_menu_list
{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
	padding-top:5px;
}

.panel_full_menu_link:hover
{
	border-bottom:2px solid #8A488A;
}

.select
{
	color:gray;
	cursor:default;
}

.select:hover
{
	border-bottom:none;
}



.block_article
{
	margin:auto;
	width:1200px;
	color:#fff;
	font-size:36px;
	font-family:'Oswald', sans-serif;
}

.title
{
	margin-top:20px;
}

.text
{
   text-align:justify;
   margin-top:20px;
   text-indent:15px;
   font-size:30px;
}

.form
{
	width:100px;
	height:50px;
}

.form_1
{
	width:400px;
	height:50px;
}

.form_2
{
   width:200px;
   height:25px;
}

.clear
{
	clear:both;
}

.img_1
{
	display:block;
	width:1200px;
	
}

.img_2
{
	display:block;
	width:610px;
	margin-right:0;
}

.img_3
{
	margin-left:0;
	height:605px;
}

.img_4
{
	height:490px;
}

.img_5
{
	margin-left:20px;
	margin-top:15px;
	height:350px;
}

.center
{
	display:flex;
	justify-content:center;
}

.right
{
	float:right;
}


.left
{
	float:left;
}

